{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [".eslintrc.js"],
  "root": true,
  "rules": {
    "indent": ["error", 2],
    "comma-dangle": "off",
    "semi": "off",
    "@typescript-eslint/comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/semi": ["error"]
  },
  "env": {
    "node": true
  }
}
