node_modules
dist
log
docker

.idea
*.sublime-project
*.sublime-workspace

*.todo
.eslintrc.js
output
log/ms*.*
log/newrelic_agent.log
.DS_Store

# Tests
.nyc_output

*.tgz

.npmrc_docker

package-lock.json
